<!DOCTYPE html>
<html>

<head>
    <title>Not Found</title>
    <link rel="icon" href="/img/img2.png">
    <link rel="stylesheet" href="css/style.css">
    
</head>


<body>
 
    <p> {{error}} </p>


    {{>footer}}
</body>


</html>