<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/img2.png">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div class="main">

    {{>header}}
    <p class="paragraph"> Instructions : </p>
    <p class="paragraph">
        1. Type your Location: Your City + (if your City name isn't Unic) + Your State (same problem similar to city name) + Your Country
    </p>
    <p class="paragraph p3">
        2. click Search button or press enter key
    </p>
    <p class="paragraph">
        3. Visit The Result and enjoy from my App 😎
    </p>
    <p class="paragraph">
        Example: babol, mazandaran, iran
    </p>
    </div>

    {{>footer}}
</body>


</html>